*{
    padding: 0;
    margin: 0;
}

body{
    background:black ;
    color: aliceblue;
}
#header{
    background:gray ;
    align-items: center;
    border: 2px solid gray;
    /* border-radius: 40%; */
    width: 85%;
    margin-left: 8%;
  
}

ul{
     display: flex; 
     padding: 20px;
     justify-content: space-around;
}
ul li{
    color:  whitesmoke;
    list-style: none;
}
#content{
    width: 100%;
    position: relative;
}
#container{
    margin-top: 120px;
    margin-left: 5%;
    width: 50%;
    height: 247px;
    border: 1px solid black;
    position: absolute;
    left: 0px;
}
#container h2{
    margin-left: 15%;
    font-size: 3em;

}
#container p{
    margin-top: 30px;
    margin-left: 10%;
    word-spacing: 2px;
}
#src{
    width: 50%;
    position: absolute;
    right: 0px;
}
#src img{
    width: 300px;
    height: 300px;
    margin-top: 40px;
    margin-left: 25%;
    border-radius: 64px;
}
